
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detail_info</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
html,body,h1,h2,h3,h4 {font-family: Tahoma, "Trebuchet MS", sans-serif;}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}

</style>
</head>
<body>
<div class="w3-container w3-center">
    <div class="w3-panel" style="height: 20%; width: 100%">
        <h1>제품명</h1>
        <p>제품 상세 정보</p>
    </div>
    <div class="w3-container w3-margin-top">
        <div class="w3-panel w3-light-grey" style="height: 600px">
            <button class="w3-button w3-gray w3-right">X</button>
        </div>
        <button class="w3-button w3-round-xlarge w3-gray w3-right"> 스크랩 </button>
    </div>

    <div class="w3-container">
        <button class="w3-button w3-circle w3-gray" style="height: 60px; width: 60px; margin:30px"></button>
        <button class="w3-button w3-circle w3-gray" style="height: 60px; width: 60px; margin:30px"></button>
        <button class="w3-button w3-circle w3-gray" style="height: 60px; width: 60px; margin:30px"></button>
        <button class="w3-button w3-circle w3-gray" style="height: 60px; width: 60px; margin:30px"></button>
    </div>
</div>
</body>
</html>